body h1 {
    font-weight: normal;
}

.navbar {
    background: #312A31;
}

.navbar .border-right {
    border-color: #AEB4B3 !important;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
}

.card-title {
    color: #312A31;
}

.card-body {
    background: #AEB4B3;
    color: #312A31;
}

.card-footer {
    background: #f3f2f3 !important;
    color: #312A31;
}

.card-header {
    background: #8792A0 !important;
    color: #f3f2f3;
}

.card {
    box-shadow: 0 0 1em #8792A0;
}

.about {
    background: #312A31;
    color: #f3f2f3;
}

.about img {
    width: inherit;
    height: inherit;
}

.contact-form input,
.contact-form textarea {
    border-color: #312A31;
    border-radius: 0;
    transition: none !important;
}

.contact-form .btn-primary {
    background: #556471;
    border-color: #556471;
    border-radius: 0;
}

.contact-form .btn-primary:hover {
    background: #312A31;
    border-color: #312A31;
}

.contact-form .btn-primary:active {
    background: #312A31 !important;
    border-color: #312A31 !important;
}

.footer {
    background: #312A31;
    color: #f3f2f3;
}