body h1 {
    font-weight: normal;
    text-align: justify;
    font-size: 3vh;
}

@media (min-width: 768px) {
    body h1 {
        font-size: 3vh;
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    body h1 {
        font-size: 4vh;
    }
}

@media (min-width: 1200px) {
    .header p {
        font-size: 3.5vh;
    }
}

#headline {
    font-size: 5vh !important;
}

.navbar-brand i {
    font-size: 3.5vh;
}

body h1 b {
    font-weight: normal;
    text-align: justify;
    font-size: 3vh;
}

.navbar {
    background: #312A31;
}

.navbar .border-right {
    border-color: #AEB4B3 !important;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    background-image: url('../images/net.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.75);
}

.header .container {
    height: 100%;
}

.description h1 {
    position: relative;
    color: #312A31;
}

.about h1 {
    font-size: 4vh;
}

.portfolio h1 {
    font-size: 4vh;
}

.portfolio img {
    height: 100%;
    width: 100%;
}

.card-title {
    color: #312A31;
}

#collapseCards {
    margin-right: 0;
    margin-left: 0;
}

.card-body {
    background: #8792A0 !important;
    color: #312A31;
}

.card-footer {
    background: #8792A0 !important;
    color: #312A31;
}

.card-header {
    background: #8792A0 !important;
    color: #312A31;
}

.card {
    box-shadow: 0 0 1em #8792A0;
}

.card a {
    color: #050564;
}

.card a:hover {
    color: #21038b;
}

.about {
    background: #312A31;
    color: #f3f2f3;
}

.portfolio .btn {
    color: #f3f2f3;
    background: #556471;
}

.portfolio .btn:focus {
    box-shadow: none;
}

.portfolio .btn:active {
    box-shadow: 0 0 0 0.3em #64717c;
}

.portfolio .btn:hover {
    background: #373f46;
}

.contact-form {
    background: #312A31;
    color: #f3f2f3;
}

.contact-form input,
.contact-form textarea {
    border-color: #312A31;
    border-radius: 0;
    box-shadow: none !important;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 0.2em solid #64717c;
}

.contact-form .btn {
    background: #556471;
    color: #f3f2f3;
}

.contact-form .btn:focus {
    box-shadow: none !important;
}

.contact-form .btn:hover {
    background: #373f46;
}

.contact-form .btn:active {
    box-shadow: 0 0 0 0.3em #64717c !important;
}

.footer {
    background: #312A31;
    color: #f3f2f3;
}