body h1 {
    font-weight: normal;
    font-size: 4.5vh !important;
}

.navbar {
    background: #312A31;
}

.navbar .border-right {
    border-color: #AEB4B3 !important;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    background-image: url('../images/headerback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.header .container {
    height: 100%;
}

.description h1 {
    position: relative;
    color: #312A31;
}

.card-title {
    color: #312A31;
}

.card-body {
    background: #AEB4B3;
    color: #312A31;
}

.card-footer {
    background: #f3f2f3 !important;
    color: #312A31;
}

.card-header {
    background: #8792A0 !important;
    color: #f3f2f3;
}

.card {
    box-shadow: 0 0 1em #8792A0;
}

.about {
    background: #312A31;
    color: #f3f2f3;
}

.portfolio .btn {
    color: #f3f2f3;
    background: #556471;
}

.portfolio .btn:focus {
    box-shadow: none;
}

.portfolio .btn:active {
    box-shadow: 0 0 0 0.3em #64717c;
}

.portfolio .btn:hover {
    background: #373f46;
}

.contact-form {
    background: #312A31;
    color: #f3f2f3;
}

.contact-form input,
.contact-form textarea {
    border-color: #312A31;
    border-radius: 0;
    box-shadow: none !important;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 0.2em solid #64717c;
}

.contact-form .btn {
    background: #556471;
    color: #f3f2f3;
}

.contact-form .btn:focus {
    box-shadow: none !important;
}

.contact-form .btn:hover {
    background: #373f46;
}

.contact-form .btn:active {
    box-shadow: 0 0 0 0.3em #64717c !important;
}

.footer {
    background: #312A31;
    color: #f3f2f3;
}